<div class="form">
    <div>
      <h1>VHchat</h1>
      <div class="prompt">sign in for messaging!</div>
    </div>
    <form  id="sendform" autocomplete="off">
       <input class="input" type="text" placeholder="Электронная почта" name="gmail">
       <input class="input" type="password" placeholder="Пароль" name="password">
       <div class="bottom">
         <div class="href">
         <a href="#reg">Зарегистрироваться</a>
         </div>
         <input class="submit" type="submit" value="Войти">
         <div class="antifloat"></div>
       </div>
    </form>
    <div id="error"></div>
</div>
