/*404*/
.cccont{
   text-align:center;
   background:white;
   color:#318e1f;
   font-size:45px;
   padding:8px;
}
.cctext{
  text-align:center;
  background:white;
  color:#318e1f;
  font-size:20px;
  padding:8px;
}
/*403*/
.forbidenImg{
  float:left;
}
.forbidenBlock{
  color:red;
  padding:50px;
  font-size:60px;
}
